html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
      font-family: Cambria, “Hoefler Text”, “Liberation Serif”, Times, “Times New Roman”, “serif”;
      color: white;
      background-color: rgb(255, 255, 255);
  }
  h1, h2, h3 {
      font-family: atten-new, sans-serif;
      margin-top: 0;
  }

  p{
    font-family: atten-new,sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  /* Colours for each box */
  header {
      background-color: #293a4d;
      padding: 20px;
      grid-area: header;

  }
  header h1 {
      margin-bottom: 0;
      font-family: parkside,cursive;
      font-weight: 300;
      font-style: normal;
      font-size:40px;
  }
  nav {
      background-color: #cd37e4;
      grid-area: nav;

  }
  nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
    nav li {
     flex: 1;
    }
    nav a {
        text-align: center;
        display: block;
        color: white;
        text-decoration: none;
        font-family: Gotham, “Helvetica Neue”, Helvetica, Arial, sans-serif;
        line-height: 50px;
    }
    nav a:focus,
    nav a:hover,
    nav a:active {
        background-color: #ec71ff;
    }
    .sidebar1 {
        background-color: #9B59B6;
        padding: 20px;
        grid-area: sidebar1;

    }
    main {
        background-color: #293a4d;
        padding: 20px;
        grid-area: main;

    }

    .sidebar1{
        overflow: hidden;
        grid-area: sidebar1;
        position: relative;
        padding:100px;
    }

    .sidebar1 img{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: auto;
        height: 200%;
    }


    .sidebar2{
        overflow: hidden;
        grid-area: sidebar2;
        position: relative;
    }

    .sidebar2 img{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 150%;
        height: auto;
    }
    

    .sidebar3{
        overflow: hidden;
        grid-area: sidebar3;
        position: relative;
    }

    .sidebar3 img{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100p;
        height: auto;
        padding:0;
    }

    
    footer {
        background-color: #cd37e4;
        padding: 20px;
        grid-area: footer;
        text-align: center;

    }
    .wrapper{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-template-areas: 
        "header header"
        "nav nav"
        "picture1 picture1"
        "picture2 picture2"
        "sidebar1 sidebar1"
        "main main"
        "footer footer";
    }

    picture{
        display: flex;
        grid-area: picture1;
        width: 100%;
        height: auto;
    }

    picture img{
        width: 25%;
        height: auto;
    }

    .picture2{
        display: flex;
        grid-area: picture2;
    }

    .picture2 img{
        width: 4fr;
    }

  @media(min-width:600px){
    .wrapper{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-template-areas: 
        "header header"
        "nav nav"
        "picture1 picture1"
        "picture2 picture2"
        "sidebar1 sidebar1"
        "main main"
        "footer footer";
    }
    .sidebar1{
        overflow: hidden;
        grid-area: sidebar1;
        position: relative;
        /* height: 300px; */
    }

    .sidebar1 img{
        width: 100%;
        height: auto;
    }
    .sidebar2{
        display: none;
    }
     }

@media(min-width:900px){
    .wrapper{
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-areas: 
        "header header header header"
        "nav nav nav nav"
        "picture1 picture1 picture1 picture1"
        "sidebar2 sidebar2 main sidebar1"
        "sidebar3 sidebar3 main sidebar1"
        "picture2 picture2 picture2  picture2"
        "footer footer footer footer";
    }
        .sidebar1{
            /* display: block; */
            position: relative;
            overflow: hidden;
            grid-area: sidebar1;
            padding:0;
            margin:0;
        }

        .sidebar1 img{
            width: auto;
            height: 100%;
        }
        .sidebar2{
            display: block;
        }

        .sidebar3 img{ 
            width: 200%;
            height: auto;
            
        }
    
}